* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonts */
@font-face {
  font-family: "Giga-Sans-Bold";
  src: url(Fonts/Giga-Sans-Bold.otf);
}

@font-face {
  font-family: "Giga-Sans-Light";
  src: url(Fonts/Giga-Sans-Light.otf);
}

@font-face {
  font-family: "Playfair-Display";
  src: url(Fonts/Playfair-Display.ttf);
}

.Gsl {
  font-family: "Giga-Sans-Light", sans-serif;
}

.Gsb {
  font-family: "Giga-Sans-Bold", sans-serif;
}

.Pfd {
  font-family: "Playfair-Display", sans-serif;
}

/* Navbar section */

.navbar-collapse.show {
  background-color: white;
  transition: 0.2s ease;
  box-shadow: 0 3px 10px rgb(0, 0, 0, 0.15);
}

.navbar-scrolled {
  background-color: white;
  box-shadow: 0 3px 10px rgb(0, 0, 0, 0.15);
}

.nav-link {
  text-decoration: none;
  padding: 5px;
  color: black; /* Default link color */
}

.nav-link:hover {
  color: yellowgreen;
}

.nav-link.active {
  color: black;
  text-decoration: underline;
  text-decoration-color: yellowgreen; /* Color of the underline */
  text-decoration-thickness: 3px; /* Thickness of the underline */
  text-underline-offset: 5px; /* Margin from the text (distance of underline) */
}

/* Products section */
.card-body {
  margin-top: -25px;
}


