@font-face {
    font-family: 'Giga-Sans-Bold';
    src: url(Fonts/Giga-Sans-Bold.otf);
}

@font-face {
    font-family: 'Giga-Sans-Light';
    src: url(Fonts/Giga-Sans-Light.otf);
}

@font-face {
    font-family: 'Playfair-Display';
    src: url(Fonts/Playfair-Display.ttf);
}

a {
    font-family: 'Giga-Sans-Light';
}